@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1.5px] rounded-none;
  }

  .bgOpacity {
    @apply bg-black bg-opacity-40;
  }
}

.active {
  color: #4a4a4a;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}